<h1>Set Your Preferences</h1>

<%= form_with url: preferences_path, method: :post, local: true do |f| %>
  <div>
    <%= label_tag :budget, 'Budget' %><br>
    <% @budget_options.each do |option| %>
      <div class="form-check form-check-inline">
        <%= check_box_tag 'budget[]', option, @preferences['budget']&.include?(option), class: 'form-check-input', id: "budget_#{option.parameterize}" %>
        <%= label_tag "budget_#{option.parameterize}", option, class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <div>
    <%= label_tag :distance, 'Distance' %><br>
    <% @distance_options.each do |option| %>
      <div class="form-check form-check-inline">
        <%= check_box_tag 'distance[]', option, @preferences['distance']&.include?(option), class: 'form-check-input', id: "distance_#{option.parameterize}" %>
        <%= label_tag "distance_#{option.parameterize}", option, class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <div>
    <%= label_tag :performance_type, 'Performance Type' %><br>
    <% @performance_type_options.each do |option| %>
      <div class="form-check form-check-inline">
        <%= check_box_tag 'performance_type[]', option, @preferences['performance_type']&.include?(option), class: 'form-check-input', id: "performance_type_#{option.parameterize}" %>
        <%= label_tag "performance_type_#{option.parameterize}", option, class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <div class="mt-3">
    <%= submit_tag 'Save Preferences', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= form_with url: clear_preferences_path, method: :post, local: true do %>
  <%= submit_tag 'Clear Preferences', class: 'btn btn-secondary mt-2' %>
<% end %>
