<h1>Set Your Preferences</h1>

<%= form_with url: preferences_path, method: :post, local: true do |f| %>
  <div>
    <%= label_tag :budget, 'Budget' %><br>
    <% @budget_options.each do |option| %>
      <div class="form-check form-check-inline">
        <%= check_box_tag 'budget[]', option, @preferences['budget']&.include?(option), 
                  id: "budget_#{option.parameterize}", class: "budget-checkbox" %>        
        <%= label_tag "budget_#{option.parameterize}", option, class: 'form-check-label' %>
      </div>
    <% end %>
  </div>
  <br>
  <div>
    <%= label_tag :performance_type, 'Performance Type' %><br>
    <% @performance_type_options.each do |option| %>
      <div class="form-check form-check-inline">
        <%= check_box_tag 'performance_type[]', option, @preferences['performance_type']&.include?(option), 
                  id: "performance_type_#{option.parameterize}", class: "performance-type-checkbox" %>
        <%= label_tag "performance_type_#{option.parameterize}", option, class: 'form-check-label' %>
      </div>
    <% end %>
  </div>
  <br>
  <div>
    <%= label_tag :borough, 'Borough' %><br>
    <% @borough_options.each do |option| %>
      <div class="form-check form-check-inline">
        <%= check_box_tag 'borough[]', option, @preferences['borough']&.include?(option), 
                  id: "borough_#{option.parameterize}", class: "borough-checkbox" %>
        <%= label_tag "borough_#{option.parameterize}", option, class: 'form-check-label' %>
      </div>
    <% end %>
  </div>
  <br>
  <div>
    <%= label_tag :location, 'Location' %><br>
    <% @location_options.each do |option| %>
      <div class="form-check form-check-inline">
        <%= check_box_tag 'location[]', option, @preferences['location']&.include?(option), 
                  id: "location_#{option.parameterize}", class: "location-checkbox" %>
        <%= label_tag "location_#{option.parameterize}", option, class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <div class="mt-3">
    <%= submit_tag 'Save Preferences', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= form_with url: clear_preferences_path, method: :post, local: true do %>
  <%= submit_tag 'Clear Preferences', class: 'btn btn-secondary mt-2', id: 'clear_preferences' %>
<% end %>
 