<!--  app/views/movies/details.html.erb -->
<!-- adding google calender link -->
<% event_datetime = DateTime.parse("#{@event.date} #{@event.time}") rescue nil %>
<% start_time = event_datetime.strftime('%Y%m%dT%H%M%S') %>
<% end_time = (event_datetime + 2.hours).strftime('%Y%m%dT%H%M%S') %> <!-- Adjust event length if needed -->

<% google_calendar_url = "https://www.google.com/calendar/render?action=TEMPLATE" \
  "&text=#{URI.encode_www_form_component(@event.name)}" \
  "&dates=#{start_time}/#{end_time}" \
  "&details=#{URI.encode_www_form_component(@event.description || 'Join me for this event!')}" \
  "&location=#{URI.encode_www_form_component(@event.location)}" %>
<div class="event-details">
<h2>Details about <em><%= @event.name %></em></h2>
<%= link_to 'Going to', google_calendar_url, target: '_blank', class: 'btn btn-primary' %>
<% if flash[:notice].present? %>
  <div class="alert alert-info"><%= flash[:notice] %></div>
<% end %>

<ul id="details">
  <li>
    Date:
    <%= @event.date %>
  </li>
  <li>
    Time:
    <%= @event.time %>
  </li>
  <li>
    Price:
    <%= @event.price %>
  </li>
  <li>
    Venue:
    <%= @event.venue %>
  </li>
  <li>
    Location:
    <%= @event.location %>
  </li>
  <li>
    Borough:
    <%= @event.borough %>
  </li>
  <li>
    Style:
    <%= @event.style %>
  </li>
</ul>

<h3>Description:</h3>
<p id="description">
  <%= @event.description %>
</p>

<div class="mt-4 d-flex gap-3">
  <% if @event.tickets.present? %>
    <%= link_to 'Purchase Tickets', @event.tickets, class: 'btn btn-primary', target: '_blank', rel: 'noopener', allow_other_host: true %>
  <% end %>
  <%= link_to 'Back to Home', performances_path, class: 'btn btn-secondary' %>
</div>