<!--  app/views/movies/details.html.erb -->
<!-- adding google calender link -->
<% event_datetime = DateTime.parse("#{@event.date} #{@event.time}") rescue nil %>
<% start_time = event_datetime.strftime('%Y%m%dT%H%M%S') %>
<% end_time = (event_datetime + 2.hours).strftime('%Y%m%dT%H%M%S') %> <!-- Adjust event length if needed -->

<div class="event-details">
<h2>Details about <em><%= @event.name %></em></h2>
<% if current_user && current_user.going_events_list.include?(@event) %>
  <span class="badge bg-success mb-3">You're going!</span>
<% else %>
  <%= button_to 'Going to', going_and_calendar_performance_path(@event),
      method: :post, class: 'btn btn-primary mb-3' %>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>

  <% if flash[:google_calendar_url] %>
    <script>
      window.open("<%= flash[:google_calendar_url] %>", "_blank");
    </script>
  <% end %>
<% end %>
<ul id="details">
  <li>
    Date:
    <%= @event.date %>
  </li>
  <li>
    Time:
    <%= @event.time %>
  </li>
  <li>
    Price:
    <%= @event.price %>
  </li>
  <li>
    Venue:
    <%= @event.venue %>
  </li>
  <li>
    Location:
    <%= @event.location %>
  </li>
  <li>
    Borough:
    <%= @event.borough %>
  </li>
  <li>
    Style:
    <%= @event.style %>
  </li>
</ul>

<h3>Description:</h3>
<p id="description">
  <%= @event.description %>
</p>

<div class="mt-4 d-flex gap-3">
  <% if @event.tickets.present? %>
    <%= link_to 'Purchase Tickets', @event.tickets, class: 'btn btn-primary', target: '_blank', rel: 'noopener', allow_other_host: true %>
  <% end %>
  <%= link_to 'Back to Home', performances_path, class: 'btn btn-secondary' %>
</div>
</div>